n8n-workflows/pilot-waitlist-workflow.json
{
  "name": "Forgexe - Pilot Waitlist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forgexe-pilot",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Pilot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "forgexe-pilot"
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "10WlKYZS4hghgOh052T3SzKzsYYceVrqC6T-UlWfocDc"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Pilot waitlist"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ new Date().toISOString().split('T')[0] }}",
            "Naam": "={{ $json.body.naam }}",
            "Bedrijf": "={{ $json.body.bedrijf }}",
            "Email": "={{ $json.body.email }}"
          }
        },
        "options": {}
      },
      "name": "Save to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [400, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Forgexe <info@forgexe.nl>', to: [$json.body.email], subject: 'Je staat op de Forge.Pilot waitlist!', html: '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><h2 style=\"color:#00f0ff\">Welkom op de waitlist, ' + $json.body.naam + '!</h2><p>Je bent aangemeld voor vroege toegang tot <strong>Forge.Pilot</strong>.</p><p>We starten binnenkort met een kleine groep. Als eerste gebruiker krijg je <strong>3 maanden gratis</strong> toegang.</p><p>We nemen contact op zodra het zover is.</p><br><p>Met vriendelijke groet,<br><strong>Team Forgexe</strong></p><p style=\"font-size:12px;color:#999\">forgexe.nl</p></div>' }) }}",
        "options": {}
      },
      "name": "Bevestigingsmail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Forgexe <info@forgexe.nl>', to: ['sedat@forgexe.nl'], subject: '🚀 Nieuwe Pilot aanmelding: ' + $json.body.bedrijf, html: '<div style=\"font-family:Arial,sans-serif\"><h2>Nieuwe Forge.Pilot aanmelding</h2><p><strong>Naam:</strong> ' + $json.body.naam + '</p><p><strong>Bedrijf:</strong> ' + $json.body.bedrijf + '</p><p><strong>Email:</strong> ' + $json.body.email + '</p></div>' }) }}",
        "options": {}
      },
      "name": "Notificatie Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Aanmelding ontvangen\"}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type"}
            ]
          }
        }
      },
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 0]
    }
  ],
  "connections": {
    "Pilot Webhook": {
      "main": [
        [
          {"node": "Save to Sheet", "type": "main", "index": 0},
          {"node": "Bevestigingsmail", "type": "main", "index": 0},
          {"node": "Notificatie Team", "type": "main", "index": 0}
        ]
      ]
    },
    "Save to Sheet": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
